parameters:
	bootstrapFiles:
		- bootstrap.php
		- shim.php
	checkMissingIterableValueType: false
	ignoreErrors:
		- '#Access to an undefined property Cake\\Controller\\Controller::\$Captchas#'
		- '#Property Captcha\\Model\\Behavior\\CaptchaBehavior::\$\_captchasTable \(Captcha\\Model\\Table\\CaptchasTable\) does not accept Cake\\ORM\\Table#'
